
nav {
	background-color: #803c42;
}

.carousel img {
	width: 800px;
	height: 400px;
}

.parallax-container {
	height: 300px;
}
/*Color for bottons pulsation*/
.waves-effect.waves-mycolor .waves-ripple {
	background-color: #f003ff; 
}

.opacity {
	opacity: 0;
	transition-duration: 5s;
}

.opacity1 {
	opacity: 1;
	transition-duration: 5s;	
}